In [19]:
import pandas as pd
import psycopg2
import os
import matplotlib as plt
import pyarrow.parquet as pq
import time

In [12]:
df = pd.read_parquet("/content/yellow_tripdata_2023-01.parquet")
#parquet_file = pq.ParquetFile('data.parquet')

In [35]:
#df.head()
#df['Coluna T1'] = 'A'
start = time.time()
df.loc[(df['trip_distance'] > 1.00) & (df['total_amount'] > 15.00), 'Coluna T1'] = 'Viagens baratas e longas'
df.loc[(df['trip_distance'] <= 1.00) & (df['total_amount'] <= 15.00), 'Coluna T1'] = 'Viagens caras e curtas'
end = time.time()
print(end - start)

0.17205524444580078

In [30]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,Coluna T1
0,5,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,A
1,5,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,Maior que 1
2,5,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,Maior que 1
3,5,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,Maior que 1
4,5,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,Maior que 1